<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net48" />
  <package id="MicrosoftOfficeCore15" version="15.0.4420.1017" targetFramework="net48" />
  <package id="MouseKeyboardActivityMonitor" version="4.0.5150.10665" targetFramework="net48" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net452" />
  <package id="Prism.Unity" version="7.2.0.1422" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.1" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.1" targetFramework="net48" />
</packages>