<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="Dropbox.Api" version="6.37.0" targetFramework="net48" />
  <package id="Fody" version="6.6.4" targetFramework="net452" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.19.1" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net48" />
  <package id="Microsoft.Graph.Beta" version="0.47.0-preview" targetFramework="net48" />
  <package id="Microsoft.Graph.Core" version="1.25.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net48" />
  <package id="MicrosoftOfficeCore15" version="15.0.4420.1017" targetFramework="net48" />
  <package id="MouseKeyboardActivityMonitor" version="4.0.5150.10665" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net452" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="4.1.0" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="5.2.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WPFMediaKit" version="2.2.0" targetFramework="net452" />
</packages>